@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #f3f9fc;
  --color-primary-100: #e6f2f8;
  --color-primary-200: #c8e3ef;
  --color-primary-300: #98cee1;
  --color-primary-400: #7dc1d7;
  --color-primary-500: #5DA7AF;
  --color-primary-600: #5DA7AF;
  --color-primary-700: #25657f;
  --color-primary-800: #22566a;
  --color-primary-900: #214859;
  --color-primary-950: #162e3b;
}

body[style*="padding-right"] {
  padding-right: 0px !important;
}

html {
  --scrollbar-width: 15px !important; /* Force a realistic scrollbar width */
}
